/*Release 3: Q1. Centered all content on page*/
* {
  margin: 0 auto;
}

body {
  max-width: 960px;
}

main {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 25%;
  min-width: 200px;
  display: inline-block;
  vertical-align: top;
  float: left;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}*/

/*lowering text size for smartphones*/
@media screen and (max-width: 400px) {
  h1 {
    font-size: medium;
  }
  figcaption {
    font-size: x-small;    
  }
  cite {
    font-size: x-small;
  }
  p {
    font-size: small;
  }
  blockquote {
    font-size: small;
  }
  li {
    font-size: small;
  }
}

@media screen and (min-width: 1500px){
  main {
    width: 125%;
  }
}

